
# following environment variables are only be used for development environment
# for production environment, you should set these environment variables in docker compose file

NODECUBE_API_VERSION=1.0
NODECUBE_DISABLE_COMPRESS=
NODECUBE_DISABLE_BODY_PARSER=
NODECUBE_ENABLE_HEADERS_LOG=
NODECUBE_ENABLE_RAW_BODY_LOG=
NODECUBE_ENABLE_VERBOSE_LOG=
NODECUBE_DISABLE_STAT_API=
NODECUBE_ENABLE_INSPECT_API=
